body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
    gap: 2px;
    flex: auto;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex: auto;
    gap: 2px;
}

.square {
    flex: auto;
    background-color: lightgray;
}

.square.colored {
    background-color: black;
}